<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Winter Wonderland Adventure</title>
  <link rel="icon" href="img/Frosty.png">
  <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.js"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="container">
      <h1 class="title">❄️ Winter Wonderland Adventure ❄️</h1>

      <div id="Outline">
        <p class="subtitle">Choose Your Own Festive Journey</p>
        <button class="music-btn" onclick="toggleMusic()">
          🎵 Play / Pause Music
        </button>
        <audio id="fortMusic" loop src="img/Fortnite  Festive Lobby Music (C1S7 Battle Pass).mp3"></audio>


        <div class="story-card">
          <div class="story-text">
            {{ currentStoryText }}
          </div>
          <div class="choices">
            <button class="choice-btn" v-if="!isAtEnd" @click="makeChoice(1)"> {{ currentOption1 }}</button>
            <button class="choice-btn" v-if="!isAtEnd" @click="makeChoice(2)"> {{ currentOption2 }}</button>
          </div>
          <button class="restart-btn" @click="restartStory"> Start New Adventure </button>
        </div>
      </div>

      <script src="script.js"></script>
</body>

</html>